header {
    height: 50px;
    background-color: whitesmoke;
    text-align: center;
}

header h1 {
    margin: 0;
}

body {
    background-color: darkslategray;
}

#card {
    display: none;
    width: 40vh;
    height: 60vh;
    margin: 0 auto;
    margin-top: 35px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

#power, #result {
    font-size: 6vh;
}

#name {
    margin:0;
    background-color: whitesmoke;
}

#image {
    width: 96%;
    padding: 2%;
    margin:0;
    border-radius: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#dice {
    display: none;
    width: 40vh;
    height: 20vh;
    margin: 2vh auto;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

#dice button {
    height: 60px;
    width: 120px;
    font-size: large;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5%;
}

#home,#about {
    font-size: large;
    height: 60px;
    width: 120px;
    padding: 0;
    float: right;
}

#lost-box, #won-box, #draw-box {
    display: none;
    position: absolute;
    top: 20vh;
    height: 40vh;
    width: 60vw;
    background-color: whitesmoke;
    margin: 0 20vw;
    border: 3px solid black;
    text-align: center;
}

.msg {
    font-size: 12vh;
}

#game-lost, #game-won {
    display: none;
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 90vw;
    background-color: whitesmoke;
    margin: 0 5vw;
    border: 3px solid black;
    text-align: center;
    border-radius: 15px;
}

#info {
    color: whitesmoke;
    position: absolute;
    left: 25px;
    top: 50px
}

.title {
    margin-left: 10vw;
    color: whitesmoke;
    font-size: xx-large;
}

.txt {
    margin-left: 10vw;
    color: whitesmoke;
}