<!DOCTYPE html>
<html>
    <head>
        <title>Monster Mania Battle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
        <script src="/main.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Monster Mania Battle</h1>
        </header>
        <main>
            <div id="card">
                <img id="image">
                <h3 id="name"></h3>
                <h2 id="power"></h2>
            </div>
            <div id="dice">
                <button id="roll-dice">Roll the dice</button>
                <h1 id="result">Result</h1>
            </div>
        </main>
    </body>
</html>