<!DOCTYPE html>
<html>
    <head>
        <title>Monster Mania Battle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
        <script src="/main.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Monster Mania Battle</h1>
        </header>
        <main>
            <div id="info">
                <h1 id="lives"></h1>
                <h1 id="turns"></h1>
                <h2 id="gear"></h2>
                <h2 id="scnd-dice"></h2>
            </div>
            <div id="card">
                <img id="image">
                <h3 id="name"></h3>
                <h2 id="power"></h2>
            </div>
            <div id="dice">
                <button id="roll-dice">Roll the dice</button>
                <h1 id="result"></h1>
            </div>
            <div id="lost-box">
                <h1 class="msg">YOU LOST</h1>
                <button class="continue">Next oponent</button>
            </div>
            <div id="draw-box">
                <h1 class="msg">DRAW</h1>
                <button class="continue">Next oponent</button>
            </div>
            <div id="won-box">
                <h1 class="msg">YOU WON</h1>
                <h1 id="item"></h1>
                <button class="continue">Next oponent</button>
            </div>
            <div id="game-lost">
                <h1 class="msg">You lost</h1>
                <h1 class="msg">End of the game</h1>
                <h1>Refresh the page to play again</h1>
            </div>
            <div id="game-won">
                <h1 class="msg">You won</h1>
                <h1 class="msg">Congratulations</h1>
                <h1>Refresh the page to play again</h1>
            </div>
        </main>
    </body>
</html>